*.pyc
.DS_Store
.ipynb_checkpoints
requirements-tocheck.in
dev-requirements.txt
.idea
.env
draft-*
datasets
pandora-collections.ndjson
pandora-subjects.ndjson
pandora-titles.csv
snapshot-test.ndjson
snapshots.csv
subjects.ndjson
title_urls.ndjson
titles_all.ndjson
titles.csv
titles.db
titles.ndjson
Untitled*
.python-version
http_cache.sqlite
data-rocrate
subject-hierarchy.md
ro-crate-metadata.json.v1.0.0
